.topBar {
 display: flex;
 justify-content: center;
 width: 100%;
}

.topic {
 width: 65%;
 min-height: 80px;
 display: flex;
 font-size: 3rem;
 font-weight: bolder;
 align-items: center;
 justify-content: center;
 border: 2px solid rgb(255, 238, 0);
 border-radius: 13px;
 background-color: rgb(17, 17, 17);
}

.body {
 width: 100%;
 padding: 15px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 border-radius: 13px;
 background-color: rgb(20, 20, 20);
}


.body>button {
 width: 100px;
}

.textbar {
 width: 20%;
 display: flex;
 justify-content: space-between;
}

.input {
 font-size: 1rem;
 padding: 0px 5px;
 display: flex;
 min-width: 80%;
}

.input:focus {
 outline: none;
}

.add {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 55px;
 height: 30px;
 margin: 0px 5px;
 border: 1.5px solid rgb(143, 143, 143);
 border-radius: 5px;
 background-color: rgba(3, 73, 177, 0.801);
 color: white;
 font-size: 0.85rem;
 font-family: 'Noto Sans TC';
}

.add:hover {
 cursor: pointer;
}

.add:active {
 transition: 0.1s;
 transform: scale(0.97);
}

.todolist {
 width: 80%;
 padding: 10px 0px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 list-style-type: none;
 font-size: 1.5rem;
}