.topBar {
 display: flex;
 justify-content: center;
 width: 100%;
}

.topic {
 width: 65%;
 min-height: 80px;
 display: flex;
 font-size: 3rem;
 font-weight: bolder;
 align-items: center;
 justify-content: center;
 border: 2px solid rgb(255, 238, 0);
 border-radius: 13px;
 background-color: rgb(17, 17, 17);
}

.body {
 width: 100%;
 padding: 15px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 border-radius: 13px;
 background-color: rgb(17, 17, 17);
}


.body>button {
 width: 100px;
}

.body>input {
 width: 350px;
}

.todolist {
 width: 80%;
 padding: 10px 0px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 list-style-type: none;
 font-size: 1.5rem;
}